[data-medium-empty="true"] ~ .c3-editor-label {
  visibility: visible;
  color: var(--c3-form-label-font-color);
  font-size: var(--c3-form-label-font-size);
  position: absolute;
  pointer-events: none;
  left: 10px;
  top: var(--c3-form-field-padding-y);
  transition: 0.2s ease all;
}

[data-medium-empty="true"][data-medium-focused="true"] ~ .c3-editor-label {
  visibility: visible;
  top: -20px;
  left: 5px;
  font-size: var(--c3-form-label-active-font-size);
  color: var(--c3-form-label-active-font-color);
}

[data-medium-empty="false"] ~ .c3-editor-label {
  visibility: visible;
  position: absolute;
  pointer-events: none;
  top: -20px;
  left: 5px;
  font-size: var(--c3-form-label-active-font-size);
  color: var(--gray);
  transition: 0.2s ease all;
}
[data-medium-empty="false"][data-medium-focused="true"] ~ .c3-editor-label {
  visibility: visible;
  position: absolute;
  pointer-events: none;
  top: -20px;
  left: 5px;
  font-size: var(--c3-form-label-active-font-size);
  color: var(--c3-form-label-active-font-color);
  transition: 0.2s ease all;
}
