:root {
  --font-family: 'acumin-pro', sans-serif;
  --body-font-size: 110%;
  --body-font-weight: 400;
  --heading-font-weight: 600;
  --bold-font-weight: 600;
  --button-font-weight: 600;
  --body-letter-spacing: 0.01rem;
}
