:root {
  --font-family: 'acumin-pro', sans-serif;
  --body-font-size: 105%;
  --body-font-weight: 300;
  --heading-font-weight: 300;
  --bold-font-weight: 500;
  --button-font-weight: 300;
  --body-letter-spacing: 0.012rem;
}
