@import '../../node_modules/basscss/css/basscss.css';
@import 'variables';
@import './overrides/base-forms';
@import './overrides/colors';
@import './overrides/background-colors';
@import './overrides/btn';
@import './overrides/btn-outline-light';
@import './overrides/border';
@import './modules/preview';
@import './modules/route-tree';
@import './modules/c3-forms';
@import './modules/c3-medium-editor';
@import './modules/c3-editor';
@import './modules/c3-select';
@import './modules/c3-error';

body {
  font-family: var(--font-family);
  font-weight: var(--body-font-weight);
  font-size: var(--body-font-size);
  letter-spacing: var(--body-letter-spacing);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font-family);
  font-weight: var(--heading-font-weight);
}
